{% extends 'layouts/main_logged.html' %}
{% block title %}Casting Agency: Casting{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">
      <h1 id="pag-title">Casting</h1>
    </div>
    <div class="col-xs-12" id="cast-content">
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(function() {
      listCasting();
      //showNewActor();
      addEvents();
    });

    function listCasting() {
      //console.log("JWT (actors) " + active_jwt());
      fetch('/cast-detail', {
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        formatCasting(json.cast);
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function formatCasting(casting) {
      let movies = [];
      for (let m = 0; m < casting.length; m++) {
        if (movies.indexOf(casting[m].movie_title) < 0) {
          movies.push(casting[m].movie_title);
        }
      }

      let show_movies = [];
      for (let m = 0; m < movies.length; m++) {
        let movie = movies[m];
        let casted = casting.filter(function(cst) {
          return cst.movie_title == movie;
        });

        show_movies.push({movie: movie, cast: casted});
      }

      content = show_movies.map(function(casting) {
        let row = '<div class="thumbnail">';
          
        row += '<div class="clearfix"><h4><div class="pull-left">' 
          + casting.movie + '</div>';
        if (can('delete:casting-movie')) {
          row += '<div class="pull-right btn-delete">' 
              + '<span class="fas fa-eraser text-danger" '
                +'id="btn-movie-delete-' + casting.cast[0].movie_id + '"></span></div>';
        }
        row += '</h4></div>';
        if (casting.cast[0].movie_release_date !== "") {
          row += "<p>" + casting.cast[0].movie_release_date + "</p>";
        }
        row += '<br/>';
        row += '<ul class="list-unstyled" style="padding-left: 15px;">';
        for (let y = 0; y < casting.cast.length; y++) {
          let casted = casting.cast[y];
          row += '<li class="clearfix">';
          row +=   '<div class="pull-left">' + casted.actor_name + '</div>';
          if (can('delete:casting-actor')) {
            row += '<div class="pull-right btn-delete">' 
                + '<span class="fas fa-user-times text-danger" '
                  +'id="btn-cast-delete-' + casted.cast_id + '"></span></div>';
          }
          row += '</li>';
        }
        row += '</ul>';
        row += '</div> <!-- /end thumbnail -->';
        return row;
      });

      if (content.length > 0) {
        let rows = ""; 
        for(let index = 0; index < content.length ; index++) {
          if(index % 3 == 0) {
            rows += '<div class="row">';
          }
          rows += '<div class="col-xs-4">';
          rows += content[index];
          rows += '</div>';
          if(index % 3 == 2 || index == (content.length - 1)) {
            rows += '</div> <!-- /end row -->';
          }
        }

        content = rows;
        content += '<a href="#pag-title" id="link-actor-data"></a>';
      }
      else {
        content = '<div class="alert alert-info">No cast assingation found</div>';
      }

      $('#cast-content').html(content);
      //showNewCast();  // <===  <<<===   <<<===   <<<===
    }

    function deleteCast(selector) {
      let $error = $('#error-msg');
      $error.html('');

      let type = selector[1];
      let id = selector[3];
      let url = "/cast";

      switch(type) {
        case "cast":
          url += "/";
          break;
        case "movie":
          url += "-movie/";
          break;
        default:
          message = '<div class="alert alert-warning alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>Delete type not found</div>';
          $error.html(message); 
          return;
      }
      url += id;

      fetch(url, {
        method: 'DELETE',
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        if (json.success) {
          message = '<div class="alert alert-info alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>Actor removed</div>';
          $error.html(message);
          
          listCasting();
        }
        else {
          let message = json.message;
          message = '<div class="alert alert-danger alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + message + '</div>';
          $error.html(message);      
        }
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function addEvents() {
      $('body').on('click', '#btn-new', function() {
        showForm(true);
      });

      $('body').on('click', '#btn-cast-send', function() {
        //addCast();
      });

      $('body').on('click', '#btn-cast-cancel', function() {
        //showForm(false);
      });

      $('body').on('click', 'span[id^="btn-cast-delete-"]', function() {
        let btn_id = $(this).attr('id').split('-');
        deleteCast(btn_id);
      });

      $('body').on('click', 'span[id^="btn-movie-delete-"]', function() {
        let btn_id = $(this).attr('id').split('-');
        deleteCast(btn_id);
      });
    }
  </script>
{% endblock %}
