{% extends 'layouts/main_logged.html' %}
{% block title %}Casting Agency: Casting{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">
      <h1 id="pag-title">Casting</h1>
    </div>
    <div class="col-xs-12" id="cast-content">
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(function() {
      listCasting();
      //showNewActor();
      addEvents();
    });

    function listCasting() {
      //console.log("JWT (cast) " + active_jwt());
      fetch('/cast-detail', {
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        hasError(json);
        if (json.error !== undefined 
            && !json.success
            && json.error == 404) {
          let content = '<div class="alert alert-info">'
            + 'No cast assingation found</div>';
          $('#cast-content').html(content);
          return;
        }
        formatCasting(json.cast);
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function formatCasting(casting) {
      let movies = [];
      for (let m = 0; m < casting.length; m++) {
        if (movies.indexOf(casting[m].movie_title) < 0) {
          movies.push(casting[m].movie_title);
        }
      }

      let show_movies = [];
      for (let m = 0; m < movies.length; m++) {
        let movie = movies[m];
        let casted = casting.filter(function(cst) {
          return cst.movie_title == movie;
        });

        show_movies.push({movie: movie, cast: casted});
      }

      content = show_movies.map(function(casting) {
        let row = '<div class="thumbnail">';
          
        row += '<div class="clearfix"><h4><div class="pull-left">' 
          + casting.movie + '</div>';
        if (can('delete:casting-movie')) {
          row += '<div class="pull-right btn-delete">' 
              + '<span class="fas fa-eraser text-danger" '
                +'id="btn-movie-delete-' + casting.cast[0].movie_id + '"></span></div>';
        }
        row += '</h4></div>';
        if (casting.cast[0].movie_release_date !== "") {
          row += "<p>" + casting.cast[0].movie_release_date + "</p>";
        }
        row += '<br/>';
        row += '<ul class="list-unstyled" style="padding-left: 15px;">';
        for (let y = 0; y < casting.cast.length; y++) {
          let casted = casting.cast[y];
          row += '<li class="clearfix">';
          row +=   '<div class="pull-left">' + casted.actor_name + '</div>';
          if (can('delete:casting-actor')) {
            row += '<div class="pull-right btn-delete">' 
                + '<span class="fas fa-user-times text-danger" '
                  +'id="btn-cast-delete-' + casted.cast_id + '"></span></div>';
          }
          row += '</li>';
        }
        row += '</ul>';
        row += '</div> <!-- /end thumbnail -->';
        return row;
      });

      if (content.length > 0) {
        let rows = ""; 
        for(let index = 0; index < content.length ; index++) {
          if(index % 3 == 0) {
            rows += '<div class="row">';
          }
          rows += '<div class="col-xs-4">';
          rows += content[index];
          rows += '</div>';
          if(index % 3 == 2 || index == (content.length - 1)) {
            rows += '</div> <!-- /end row -->';
          }
        }

        content = rows;
        content += '<a href="#pag-title" id="link-actor-data"></a>';
      }
      else {
        content = '<div class="alert alert-info">No cast assingation found</div>';
      }

      $('#cast-content').html(content);
      showNewCast();
    }

    function deleteCast(selector) {
      let $error = $('#error-msg');
      $error.html('');

      let type = selector[1];
      let id = selector[3];
      let url = "/cast";

      switch(type) {
        case "cast":
          url += "/";
          break;
        case "movie":
          url += "-movie/";
          break;
        default:
          message = '<div class="alert alert-warning alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>Delete type not found</div>';
          $error.html(message); 
          return;
      }
      url += id;

      fetch(url, {
        method: 'DELETE',
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);

        hasError(json);
        if (json.success) {
          message = '<div class="alert alert-info alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>Actor removed</div>';
          $error.html(message);
          
          listCasting();
        }
        else {
          let message = json.message;
          message = '<div class="alert alert-danger alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + message + '</div>';
          $error.html(message);      
        }
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function showNewCast() {
      let $content = $('#cast-content');
      let update_content = "";

      if (can('post:casting')) {
        console.log("can POST");
        update_content += '<div class="row">'
          + '<div class="col-xs-10">'
          +  '<div class="row hidden" id="new-cast-form">'
          +   '<div class="col-xs-4">'
          +    '<select name="cast-movie" class="form-control">'
          +     '<option value="Select">Select</option>'
          +    '</select>'
          +   '</div>'
          +   '<div class="col-xs-4">'
          +    '<select name="cast-actor" class="form-control">'
          +     '<option value="Select">Select</option>'
          +    '</select>'
          +   '</div>'
          +   '<div class="col-xs-2">'
          +    '<button class="btn btn-block btn-success" id="btn-cast-send">Send</button>'
          +   '</div>'
          +   '<div class="col-xs-1">'
          +    '<button class="btn btn-block btn-danger" id="btn-cast-cancel">X</button>'
          +   '</div>'
          + '</div></div>'
          + '<div class="col-xs-2">'
          +  '<button class="btn btn-success btn-block" id="btn-new">New casting</button>'
          + '</div></div>'
          + '<div class="row">&nbsp;</div>';
      }

      update_content += $content.html();
      //console.log("show new actor \n" + update_content);
      $content.html(update_content);

      getActors();
      getMovies();
    }

    function getActors() {
      fetch('/actors-detail', {
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        //console.log('getActors');
        //console.dir(json.actors);
        hasError(json);
        fillSelect("cast-actor", json.actors);
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function getMovies() {
      fetch('/movies-detail', {
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        //console.log('getMovies');
        //console.dir(json);
        hasError(json);
        fillSelect("cast-movie", json.movies);
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function fillSelect(selector, _options) {

      let selectorType = selector.split('-')[1];
      let $selector = $('select[name="' + selector + '"]');
      //console.log("fill " + selectorType);
      let content = _options.map(function(_option) {
        let optionName = '';
        switch(selectorType) {
          case 'actor':
            optionName = _option.name;
            break;
          case 'movie':
            optionName = _option.title;
            break;
          default:
            return '';
        }
        
        let row = '<option value="' + _option.id + '">' + optionName + '</option>';
        return row;
      });
      content.unshift('<option value="Select">Select</option>');
      $selector.html(content.join('\n'));
    }

    function addCast() {
      let $error = $('#error-msg');
      $error.html('');
      //console.log("JWT (actors) " + active_jwt());
      let actor = $('select[name="cast-actor"]').val().trim();
      if (actor == 'Select') {
        actor = '';
      }
      let movie = $('select[name="cast-movie"]').val().trim();
      if (movie == 'Select') {
        movie = '';
      }

      let _data = {
          'movie': movie,
          'actor': actor
        };

      let url = '/cast';
      let _method = 'POST';
      let _message = 'Cast added';
      
      console.log(_method);
      console.dir(_data);

      fetch(url, {
        method: _method,
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(_data)
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        hasError(json);
        if (json.success) {
          showForm(false);
          listCasting();
          message = '<div class="alert alert-info alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + _message + '</div>';
          $error.html(message);  
        }
        else {
          let message = json.message;
          message = '<div class="alert alert-danger alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + message + '</div>';
          $error.html(message);
        }
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function showForm(show) {
      let $buttonNew = $('#btn-new');
      let $form = $('#new-cast-form');
      if(show) {
        $buttonNew.prop('disabled', true)
          .addClass('disabled')
          .addClass('btn-default')
          .removeClass('btn-success');
        $form.removeClass('hidden');
      }
      else {
        freeInputs();

        $buttonNew.prop('disabled', false)
          .removeClass('disabled')
          .removeClass('btn-default')
          .addClass('btn-success');
        $form.addClass('hidden');
        $('#btn-actor-send').html('Send');
      }
    }

    function freeInputs() {
      $('select[name="cast-actor"] option').filter(function() { 
        return ($(this).text() == 'Select');
      }).prop('selected', true); 
      $('select[name="cast-movie"] option').filter(function() { 
        return ($(this).text() == 'Select');
      }).prop('selected', true); 
    }

    function addEvents() {
      $('body').on('click', '#btn-new', function() {
        showForm(true);
      });

      $('body').on('click', '#btn-cast-send', function() {
        addCast();
      });

      $('body').on('click', '#btn-cast-cancel', function() {
        showForm(false);
      });

      $('body').on('click', 'span[id^="btn-cast-delete-"]', function() {
        let btn_id = $(this).attr('id').split('-');
        deleteCast(btn_id);
      });

      $('body').on('click', 'span[id^="btn-movie-delete-"]', function() {
        let btn_id = $(this).attr('id').split('-');
        deleteCast(btn_id);
      });
    }
  </script>
{% endblock %}
