{% extends 'layouts/main_logged.html' %}
{% block title %}Casting Agency: Actors{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h1>Actors</h1>
    </div>
    <div class="col-xs-12" id="actors-content">
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(function() {
      listActors();
      //showNewActor();
      addEvents();
    });

    function listActors() {
      //console.log("JWT (actors) " + active_jwt());
      fetch('/actors-detail', {
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        formatActors(json.actors);
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function formatActors(actors) {
      content = actors.map(function(actor) {
        let row = '<div class="thumbnail">';
        row += "<h4>" + actor.name + "</h4>";
        row += "<p>" + actor.gender + "</p>";
        row += "<p>" + actor.age + "</p>";
        row += '</div>';
        return row;
      });

      if (content.length > 0) {
        let rows = ""; 
        for(let index = 0; index < content.length ; index++) {
          if(index % 3 == 0) {
            rows += '<div class="row">';
          }
          rows += '<div class="col-xs-4">';
          rows += content[index];
          rows += '</div>';
          if(index % 3 == 2 || index == (content.length - 1)) {
            rows += '</div> <!-- /end row -->';
          }
        }

        content = rows;
      }
      else {
        content = '<div class="alert alert-info">No actors found</div>';
      }

      $('#actors-content').html(content);
      showNewActor();
    }

    function showNewActor() {
      let $content = $('#actors-content');
      let update_content = "";

      if (can('post:actors')) {
        console.log("can POST");
        update_content += '<div class="row">'
          + '<div class="col-xs-10">'
          +  '<div class="row hidden" id="new-actor-form">'
          +   '<div class="col-xs-5">'
          +    '<input type="text" name="actor-name" placeholder="Name" class="form-control"/>'
          +   '</div>'
          +   '<div class="col-xs-2">'
          +    '<select name="actor-gender" class="form-control">'
          +     '<option value="Select">Select</option>'
          +     '<option value="Male">Male</option>'
          +     '<option value="Female">Female</option>'
          +    '</select>'
          +   '</div>'
          +   '<div class="col-xs-2">'
          +    '<input type="number" name="actor-age" placeholder="Age" class="form-control"/>'
          +   '</div>'
          +   '<div class="col-xs-2">'
          +    '<button class="btn btn-block btn-success" id="btn-actor-send">Send</button>'
          +   '</div>'
          +   '<div class="col-xs-1">'
          +    '<button class="btn btn-block btn-danger" id="btn-actor-cancel">X</button>'
          +   '</div>'
          + '</div></div>'
          + '<div class="col-xs-2">'
          +  '<button class="btn btn-success btn-block" id="btn-new">New actor</button>'
          + '</div></div>'
          + '<div class="row"><div class="col-xs-12 hidden" id="error-msg"></div></div>'
          + '<div class="row">&nbsp;</div>';
      }

      update_content += $content.html();
      //console.log("show new actor \n" + update_content);
      $content.html(update_content);
    }

    function showForm(show) {
      let $buttonNew = $('#btn-new');
      let $form = $('#new-actor-form');
      if(show) {
        $buttonNew.prop('disabled', true)
          .addClass('disabled')
          .addClass('btn-default')
          .removeClass('btn-success');
        $form.removeClass('hidden');
      }
      else {
        $('input[name="actor-name"]').val('');
        $('input[name="actor-age"]').val('');
        
        $('select[name="actor-gender"]').val('');
        $('select[name="actor-gender"] option').filter(function() { 
          return ($(this).text() == 'Select');
        }).prop('selected', true);            

        $buttonNew.prop('disabled', false)
          .removeClass('disabled')
          .removeClass('btn-default')
          .addClass('btn-success');
        $form.addClass('hidden');
      }
    }

    function addActor() {
      let $error = $('#error-msg');
      //console.log("JWT (actors) " + active_jwt());
      let gender = $('select[name="actor-gender"]').val().trim();
      if (gender == 'Select') {
        gender = '';
      }

      let _data = {
          'name': $('input[name="actor-name"]').val().trim(),
          'gender': gender,
          'age': $('input[name="actor-age"]').val().trim()
        };
      console.dir(_data);

      fetch('/actors', {
        method: 'POST',
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(_data)
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        if (json.success) {
          $error.removeAdd('hidden');
          alert('actor added');
          showForm(false);
          listActors();
        }
        else {
          let message = json.message;
          message = '<div class="alert alert-danger">' + message + '</div>';
          $error.html(message);
          $error.removeClass('hidden');
          
          alert('error: ' + json.message);
        }
      })
      .catch(function(err){
        console.log(err);
      });
      
    }

    function addEvents() {
      $('body').on('click', '#btn-new', function() {
        console.log('click');
        showForm(true);
      });

      $('body').on('click', '#btn-actor-send', function() {
        console.log('click btn-actor-send');
        addActor();
      });

      $('body').on('click', '#btn-actor-cancel', function() {
        console.log('click btn-actor-cancel');
        showForm(false);
      });
    }
  </script>
{% endblock %}
