{% extends 'layouts/main_logged.html' %}
{% block title %}Casting Agency: Movies{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">
      <h1>Movies</h1>
    </div>
    <div class="col-xs-12" id="movies-content">
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(function() {
      listMovies();
      addEvents();
    });

    function listMovies() {
      //console.log("JWT (actors) " + active_jwt());
      fetch('/movies-detail', {
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        formatMovies(json.movies);
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function formatMovies(movies) {
      content = movies.map(function(movie) {
        let row = '<div class="thumbnail">';
        row += '<div class="clearfix"><h4><div class="pull-left">' 
          + movie.title + '</div>';
        if (can('delete:movies')) {
          row += '<div class="pull-right btn-delete">' 
              + '<span class="fas fa-trash text-danger" '
                +'id="btn-movie-delete-' + movie.id + '"></span></div>';
        }
        if (can('patch:movies')) {
          row += '<div class="pull-right btn-delete">' 
              + '<span class="fas fa-edit text-info" '
                +'id="btn-movie-edit-' + movie.id + '"></span></div>';
        }
        row += '</h4></div>';
        if(movie.release_date !== null) {
          row += "<p>" + movie.release_date + "</p>";
        }
        row += '</div>';
        return row;
      });

      if (content.length > 0) {
        let rows = ""; 
        for(let index = 0; index < content.length ; index++) {
          if(index % 3 == 0) {
            rows += '<div class="row">';
          }
          rows += '<div class="col-xs-4">';
          rows += content[index];
          rows += '</div>';
          if(index % 3 == 2 || index == (content.length - 1)) {
            rows += '</div> <!-- /end row -->';
          }
        }

        content = rows;
        content += '<a href="#pag-title" id="link-movie-data"></a>';
      }
      else {
        content = '<div class="alert alert-info">No movies found</div>';
      }

      $('#movies-content').html(content);
      showNewMovie();
    }

    function showNewMovie() {

      let $content = $('#movies-content');
      let update_content = "";

      if (can('post:movies')) {
        console.log("can POST");
        update_content += '<div class="row">'
          + '<div class="col-xs-10">'
          +  '<div class="row hidden" id="new-movie-form">'
          +   '<div class="col-xs-5">'
          +    '<input type="hidden" name="movie-id" value=""/>'
          +    '<input type="text" name="movie-title" placeholder="Title" class="form-control"/>'
          +   '</div>'
          +   '<div class="col-xs-4">'
          +    '<input type="text" name="movie-release" placeholder="mm/dd/yyyy" class="form-control"/>'
          +   '</div>'
          +   '<div class="col-xs-2">'
          +    '<button class="btn btn-block btn-success" id="btn-movie-send">Send</button>'
          +   '</div>'
          +   '<div class="col-xs-1">'
          +    '<button class="btn btn-block btn-danger" id="btn-movie-cancel">X</button>'
          +   '</div>'
          + '</div></div>'
          + '<div class="col-xs-2">'
          +  '<button class="btn btn-success btn-block" id="btn-new">New movie</button>'
          + '</div></div>'
          + '<div class="row">&nbsp;</div>';
      }

      update_content += $content.html();
      //console.log("show new actor \n" + update_content);
      $content.html(update_content);
    }

    function showForm(show) {
      let $buttonNew = $('#btn-new');
      let $form = $('#new-movie-form');
      if(show) {
        $buttonNew.prop('disabled', true)
          .addClass('disabled')
          .addClass('btn-default')
          .removeClass('btn-success');
        $form.removeClass('hidden');
      }
      else {  
        freeInputs();   

        $buttonNew.prop('disabled', false)
          .removeClass('disabled')
          .removeClass('btn-default')
          .addClass('btn-success');
        $form.addClass('hidden');
      }
    }

    function addMovie() {
      let $error = $('#error-msg');
      //console.log("JWT (actors) " + active_jwt());
      $error.html('');

      let _data = {
          'title': $('input[name="movie-title"]').val().trim(),
          'release_date': $('input[name="movie-release"]').val().trim()
        };

      let url = '/movies';
      let _method = '';
      let _message = '';
      let movie_id = $('input[name="movie-id"]').val().trim();

      if (movie_id == "") {
        _method = "POST";
        _message = "Movie added"
      }
      else {
        url += '/' + movie_id;
        _method = "PATCH";
        _data.id = movie_id; 
        _message = "Movie updated";
      }
      
      console.log(_method);
      console.dir(_data);

      fetch(url, {
        method: _method,
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(_data)
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        if (json.success) {
          showForm(false);
          listMovies();
          message = '<div class="alert alert-info alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + _message + '</div>';
          $error.html(message);
        }
        else {
          let message = json.message;
          message = '<div class="alert alert-danger alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + message + '</div>';
          $error.html(message);
        }
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function deleteMovie(movie_id) {
      let $error = $('#error-msg');
      let url = '/movies/' + movie_id;
      $error.html('');

      fetch(url, {
        method: 'DELETE',
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        if (json.success) {
          message = '<div class="alert alert-info alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>Movie deleted</div>';
          $error.html(message);
          listMovies();
        }
        else {
          let message = json.message;
          message = '<div class="alert alert-danger alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + message + '</div>';
          $error.html(message);        
        }
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function openEdit(movie_id) {
      freeInputs();

      let title = '';
      let release = '';
      showForm(true);

      let $movie = $("#btn-movie-edit-" + movie_id).closest('.clearfix');
      console.log("Movie with id: " + movie_id);
      console.dir($movie);

      title = $movie.find('.pull-left').eq(0).html();
      release = $movie.parent().find('p').eq(0).html();
      console.log('Release ' + release);

      $('input[name="movie-id"]').val(movie_id);
      $('input[name="movie-title"]').val(title);
      $('input[name="movie-release"]').val(release);

      $('#btn-movie-send').html('Update');
      $('#link-movie-data')[0].click();
    }

    function freeInputs() {
      $('input[name="movie-id"]').val('');
      $('input[name="movie-title"]').val('');
      $('input[name="movie-release"]').val(''); 
    }

    function addEvents() {
      $('body').on('click', '#btn-new', function() {
        showForm(true);
      });

      $('body').on('click', '#btn-movie-send', function() {
        addMovie();
      });

      $('body').on('click', '#btn-movie-cancel', function() {
        showForm(false);
      });

      $('body').on('click', 'span[id^="btn-movie-delete-"]', function() {
        let id = $(this).attr('id').split('-')[3];
        deleteMovie(id);
      });

      $('body').on('click', 'span[id^="btn-movie-edit-"]', function() {
        let id = $(this).attr('id').split('-')[3];
        openEdit(id);
      });
    }
  </script>
{% endblock %}
