{% extends 'layouts/main_logged.html' %}
{% block title %}Casting Agency: Actors{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">
      <h1 id="pag-title">Actors</h1>
    </div>
    <div class="col-xs-12" id="actors-content">
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(function() {
      listActors();
      //showNewActor();
      addEvents();
    });

    function listActors() {
      //console.log("JWT (actors) " + active_jwt());
      fetch('/actors-detail', {
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        hasError(json);
        formatActors(json.actors);
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function formatActors(actors) {
      content = actors.map(function(actor) {
        let row = '<div class="thumbnail">';
        row += '<div class="clearfix"><h4><div class="pull-left">' 
          + actor.name + '</div>';
        if (can('delete:actors')) {
          row += '<div class="pull-right btn-delete">' 
              + '<span class="fas fa-trash text-danger" '
                +'id="btn-actor-delete-' + actor.id + '"></span></div>';
        }
        if (can('patch:actors')) {
          row += '<div class="pull-right btn-delete">' 
              + '<span class="fas fa-edit text-info" '
                +'id="btn-actor-edit-' + actor.id + '"></span></div>';
        }
        row += '</h4></div>';
        row += "<p>" + actor.gender + "</p>";
        if (actor.age > 0) {
          row += "<p>" + actor.age + "</p>";
        }
        row += '</div> <!-- /end thumbnail -->';
        return row;
      });

      if (content.length > 0) {
        let rows = ""; 
        for(let index = 0; index < content.length ; index++) {
          if(index % 3 == 0) {
            rows += '<div class="row">';
          }
          rows += '<div class="col-xs-4">';
          rows += content[index];
          rows += '</div>';
          if(index % 3 == 2 || index == (content.length - 1)) {
            rows += '</div> <!-- /end row -->';
          }
        }

        content = rows;
        content += '<a href="#pag-title" id="link-actor-data"></a>';
      }
      else {
        content = '<div class="alert alert-info">No actors found</div>';
      }

      $('#actors-content').html(content);
      showNewActor();
    }

    function showNewActor() {
      let $content = $('#actors-content');
      let update_content = "";

      if (can('post:actors')) {
        console.log("can POST");
        update_content += '<div class="row">'
          + '<div class="col-xs-10">'
          +  '<div class="row hidden" id="new-actor-form">'
          +   '<div class="col-xs-5">'
          +    '<input type="hidden" name="actor-id" value=""/>'
          +    '<input type="text" name="actor-name" placeholder="Name" class="form-control"/>'
          +   '</div>'
          +   '<div class="col-xs-2">'
          +    '<select name="actor-gender" class="form-control">'
          +     '<option value="Select">Select</option>'
          +     '<option value="Male">Male</option>'
          +     '<option value="Female">Female</option>'
          +    '</select>'
          +   '</div>'
          +   '<div class="col-xs-2">'
          +    '<input type="number" name="actor-age" placeholder="Age" class="form-control"/>'
          +   '</div>'
          +   '<div class="col-xs-2">'
          +    '<button class="btn btn-block btn-success" id="btn-actor-send">Send</button>'
          +   '</div>'
          +   '<div class="col-xs-1">'
          +    '<button class="btn btn-block btn-danger" id="btn-actor-cancel">X</button>'
          +   '</div>'
          + '</div></div>'
          + '<div class="col-xs-2">'
          +  '<button class="btn btn-success btn-block" id="btn-new">New actor</button>'
          + '</div></div>'
          + '<div class="row">&nbsp;</div>';
      }

      update_content += $content.html();
      //console.log("show new actor \n" + update_content);
      $content.html(update_content);
    }

    function showForm(show) {
      let $buttonNew = $('#btn-new');
      let $form = $('#new-actor-form');
      if(show) {
        $buttonNew.prop('disabled', true)
          .addClass('disabled')
          .addClass('btn-default')
          .removeClass('btn-success');
        $form.removeClass('hidden');
      }
      else {
        freeInputs();

        $buttonNew.prop('disabled', false)
          .removeClass('disabled')
          .removeClass('btn-default')
          .addClass('btn-success');
        $form.addClass('hidden');
        $('#btn-actor-send').html('Send');
      }
    }

    function addActor() {
      let $error = $('#error-msg');
      $error.html('');
      //console.log("JWT (actors) " + active_jwt());
      let gender = $('select[name="actor-gender"]').val().trim();
      if (gender == 'Select') {
        gender = '';
      }

      let _data = {
          'name': $('input[name="actor-name"]').val().trim(),
          'gender': gender,
          'age': $('input[name="actor-age"]').val().trim()
        };

      let url = '/actors';
      let _method = '';
      let _message = '';
      let actor_id = $('input[name="actor-id"]').val().trim();

      if (actor_id == "") {
        _method = "POST";
        _message = "Actor added"
      }
      else {
        url += '/' + actor_id;
        _method = "PATCH";
        _data.id = actor_id; 
        _message = "Actor updated";
      }
      
      console.log(_method);
      console.dir(_data);

      fetch(url, {
        method: _method,
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(_data)
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        hasError(json);
        if (json.success) {
          showForm(false);
          listActors();
          message = '<div class="alert alert-info alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + _message + '</div>';
          $error.html(message);  
        }
        else {
          let message = json.message;
          message = '<div class="alert alert-danger alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + message + '</div>';
          $error.html(message);
        }
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function deleteActor(actor_id) {
      let $error = $('#error-msg');
      let url = '/actors/' + actor_id;
      $error.html('');

      fetch(url, {
        method: 'DELETE',
        headers: {
          'Authorization': 'bearer ' + active_jwt(),
          'Content-Type': 'application/json'
        }
      })
      .then(data => data.json())
      .then(json => {
        console.dir(json);
        hasError(json);
        if (json.success) {
          message = '<div class="alert alert-info alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>Actor deleted</div>';
          $error.html(message);
          
          listActors();
        }
        else {
          let message = json.message;
          message = '<div class="alert alert-danger alert-dismissible" role="alert"> '
            +'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'
            + '<span aria-hidden="true">&times;</span></button>' + message + '</div>';
          $error.html(message);      
        }
      })
      .catch(function(err){
        console.log(err);
      });
    }

    function openEdit(actor_id) {
      freeInputs();

      let name = '';
      let age = 0;
      let gender = '';
      showForm(true);

      let $actor = $("#btn-actor-edit-" + actor_id).closest('.clearfix');
      console.log("Actor with id: " + actor_id);
      console.dir($actor);

      name = $actor.find('.pull-left').eq(0).html();
      age = $actor.parent().find('p').eq(1).html();
      gender = $actor.parent().find('p').eq(0).html();
      if (gender == "") {
        gender = "Select";
      }

      $('input[name="actor-id"]').val(actor_id);
      $('input[name="actor-name"]').val(name);
      $('input[name="actor-age"]').val(age);
      $('select[name="actor-gender"] option').filter(function() { 
        return ($(this).text() == gender);
      }).prop('selected', true);

      $('#btn-actor-send').html('Update');
      $('#link-actor-data')[0].click();
    }

    function freeInputs() {
      $('input[name="actor-id"]').val('');
      $('input[name="actor-name"]').val('');
      $('input[name="actor-age"]').val('');
      
      $('select[name="actor-gender"]').val('');
      $('select[name="actor-gender"] option').filter(function() { 
        return ($(this).text() == 'Select');
      }).prop('selected', true); 
    }

    function addEvents() {
      $('body').on('click', '#btn-new', function() {
        showForm(true);
      });

      $('body').on('click', '#btn-actor-send', function() {
        addActor();
      });

      $('body').on('click', '#btn-actor-cancel', function() {
        showForm(false);
      });

      $('body').on('click', 'span[id^="btn-actor-delete-"]', function() {
        let id = $(this).attr('id').split('-')[3];
        deleteActor(id);
      });

      $('body').on('click', 'span[id^="btn-actor-edit-"]', function() {
        let id = $(this).attr('id').split('-')[3];
        //deleteActor(id);
        console.log("Edit: " + id);
        openEdit(id);
      });
    }
  </script>
{% endblock %}
